@extends('web.layouts.main') 
@section('content')


    <section class="inner-banner">
      <img src="images/bnr-bg.jpg">

      <div class="inner-cap">
        <h4>describe <span>job</span> </h4>
      </div>
    </section>
    
   <section class="describe-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="describe-job">
            <h4>Describe <span>the Job</span></h4>
            <p>Make sure your job ad gets the job done. Enter your description into each section for best results. The more complete the job ad, the better your responses.</p>
          </div>
          <div class="describe-teach">
            <h4>Teacher</h4>
            <a href="">demo@domain.com</a>
          </div>
          <div class="teach-describe">
            <p>Get the most out of your job listing.</p>
            <a href="">View job writting tips</a>
          </div>
          <div class="hiring-accord">
              <div class="hiring-pneal">
                <button class="accordion active">Summary</button>
                <div class="panel"  style="max-height: 472px;">
                  <h3>Select all that apply</h3>
                  <div class="modal-dialog-11">
                    <div class="modal-editor">
            <div class="options">
    <button onClick="transform('bold', null)">
      <i class="fa fa-bold" aria-hidden="true"></i>
    </button>
    <button onClick="transform('italic', null)">
      <i class="fa fa-italic"></i>
    </button>
    <button onClick="transform('underline', null)">
      <i class="fa fa-underline"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform('justifyLeft', null)">
      <i class="fa fa-align-left"></i>
    </button>
    <button onClick="transform('justifyCenter', null)">
      <i class="fa fa-align-center"></i>
    </button>
    <button onClick="transform('justifyRight', null)">
      <i class="fa fa-align-right"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform('insertOrderedList', null)">
      <i class="fa fa-list-ol"></i>
    </button>
    <button onClick="transform('insertUnorderedList', null)">
      <i class="fa fa-list-ul"></i>
    </button>
    <div class="seperator"></div>
    <!-- <select onChange="transform('fontName', this.value)">
      <option disabled default>Font</option>
      <option value="Times New Roman">Times</option>
      <option value="Arial">Arial</option>
      <option value="Courier New">Courier New</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Arial">Verdana</option>
    </select> -->
    <div class="seperator"></div>
    <!-- <input type="number" onChange="transform('fontSize', this.value)" value="3" max="7" min="1"></input> -->
  </div>
  <iframe name="editor" id="editor"></iframe>
         </div>
                  </div>
                   <h3>Responsibilities*</h3>
                  <div class="hiring-editor">
                    <img src="images/hiring-editor.jpg">
                  </div>
                </div>
              </div>
              <div class="hiring-pneal">
                <button class="accordion">Qualifications & Skills</button>
                <div class="panel">
                  <h3>Select all that apply</h3>
                  <div class="modal-dialog-11">
                    <div class="modal-editor">
            <div class="options">
    <button onClick="transform1('bold', null)">
      <i class="fa fa-bold" aria-hidden="true"></i>
    </button>
    <button onClick="transform1('italic', null)">
      <i class="fa fa-italic"></i>
    </button>
    <button onClick="transform1('underline', null)">
      <i class="fa fa-underline"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform1('justifyLeft', null)">
      <i class="fa fa-align-left"></i>
    </button>
    <button onClick="transform1('justifyCenter', null)">
      <i class="fa fa-align-center"></i>
    </button>
    <button onClick="transform1('justifyRight', null)">
      <i class="fa fa-align-right"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform1('insertOrderedList', null)">
      <i class="fa fa-list-ol"></i>
    </button>
    <button onClick="transform1('insertUnorderedList', null)">
      <i class="fa fa-list-ul"></i>
    </button>
    <div class="seperator"></div>
    <!-- <select onChange="transform('fontName', this.value)">
      <option disabled default>Font</option>
      <option value="Times New Roman">Times</option>
      <option value="Arial">Arial</option>
      <option value="Courier New">Courier New</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Arial">Verdana</option>
    </select> -->
    <div class="seperator"></div>
    <!-- <input type="number" onChange="transform('fontSize', this.value)" value="3" max="7" min="1"></input> -->
  </div>
  <iframe name="editor1" id="editor1"></iframe>
         </div>
                  </div>
                   <h3>Responsibilities*</h3>
                  <div class="modal-dialog-11">
                    <div class="modal-editor">
            <div class="options">
    <button onClick="transform4('bold', null)">
      <i class="fa fa-bold" aria-hidden="true"></i>
    </button>
    <button onClick="transform4('italic', null)">
      <i class="fa fa-italic"></i>
    </button>
    <button onClick="transform4('underline', null)">
      <i class="fa fa-underline"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform4('justifyLeft', null)">
      <i class="fa fa-align-left"></i>
    </button>
    <button onClick="transform4('justifyCenter', null)">
      <i class="fa fa-align-center"></i>
    </button>
    <button onClick="transform4('justifyRight', null)">
      <i class="fa fa-align-right"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform4('insertOrderedList', null)">
      <i class="fa fa-list-ol"></i>
    </button>
    <button onClick="transform4('insertUnorderedList', null)">
      <i class="fa fa-list-ul"></i>
    </button>
    <div class="seperator"></div>
    <!-- <select onChange="transform('fontName', this.value)">
      <option disabled default>Font</option>
      <option value="Times New Roman">Times</option>
      <option value="Arial">Arial</option>
      <option value="Courier New">Courier New</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Arial">Verdana</option>
    </select> -->
    <div class="seperator"></div>
    <!-- <input type="number" onChange="transform('fontSize', this.value)" value="3" max="7" min="1"></input> -->
  </div>
  <iframe name="editor4" id="editor4"></iframe>
         </div>
                  </div>
                </div>
              </div>
              <div class="hiring-pneal">
                <button class="accordion">Company Description</button>
                <div class="panel">
                  <h3>Select all that apply</h3>
                  <div class="modal-dialog-11">
                    <div class="modal-editor">
            <div class="options">
    <button onClick="transform2('bold', null)">
      <i class="fa fa-bold" aria-hidden="true"></i>
    </button>
    <button onClick="transform2('italic', null)">
      <i class="fa fa-italic"></i>
    </button>
    <button onClick="transform2('underline', null)">
      <i class="fa fa-underline"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform2('justifyLeft', null)">
      <i class="fa fa-align-left"></i>
    </button>
    <button onClick="transform2('justifyCenter', null)">
      <i class="fa fa-align-center"></i>
    </button>
    <button onClick="transform2('justifyRight', null)">
      <i class="fa fa-align-right"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform2('insertOrderedList', null)">
      <i class="fa fa-list-ol"></i>
    </button>
    <button onClick="transform2('insertUnorderedList', null)">
      <i class="fa fa-list-ul"></i>
    </button>
    <div class="seperator"></div>
    <!-- <select onChange="transform('fontName', this.value)">
      <option disabled default>Font</option>
      <option value="Times New Roman">Times</option>
      <option value="Arial">Arial</option>
      <option value="Courier New">Courier New</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Arial">Verdana</option>
    </select> -->
    <div class="seperator"></div>
    <!-- <input type="number" onChange="transform('fontSize', this.value)" value="3" max="7" min="1"></input> -->
  </div>
  <iframe name="editor2" id="editor2"></iframe>
         </div>
                  </div>
                   <h3>Responsibilities*</h3>
                  <div class="modal-dialog-11">
                    <div class="modal-editor">
            <div class="options">
    <button onClick="transform3('bold', null)">
      <i class="fa fa-bold" aria-hidden="true"></i>
    </button>
    <button onClick="transform3('italic', null)">
      <i class="fa fa-italic"></i>
    </button>
    <button onClick="transform3('underline', null)">
      <i class="fa fa-underline"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform3('justifyLeft', null)">
      <i class="fa fa-align-left"></i>
    </button>
    <button onClick="transform3('justifyCenter', null)">
      <i class="fa fa-align-center"></i>
    </button>
    <button onClick="transform3('justifyRight', null)">
      <i class="fa fa-align-right"></i>
    </button>
    <div class="seperator"></div>
    <button onClick="transform3('insertOrderedList', null)">
      <i class="fa fa-list-ol"></i>
    </button>
    <button onClick="transform3('insertUnorderedList', null)">
      <i class="fa fa-list-ul"></i>
    </button>
    <div class="seperator"></div>
    <!-- <select onChange="transform('fontName', this.value)">
      <option disabled default>Font</option>
      <option value="Times New Roman">Times</option>
      <option value="Arial">Arial</option>
      <option value="Courier New">Courier New</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Arial">Verdana</option>
    </select> -->
    <div class="seperator"></div>
    <!-- <input type="number" onChange="transform('fontSize', this.value)" value="3" max="7" min="1"></input> -->
  </div>
  <iframe name="editor3" id="editor3"></iframe>
         </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
   </section>


@endsection
@section('css')
<style type="text/css">
</style>
@endsection
@section('js')
@endsection

