<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/fancybox.min.css">

    <title>Education Team</title>
  </head>

  <body>
    



        <!-- Header Start -->
     <!-- Header Start -->
   <header>




      <!-- Begin: Bottom Row -->
      <div class="bottom-row">
        <div class="container">

         <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand"><img src="images/logo.jpg" alt=""></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Find Jobs</a>
                <a href="#" class="nav-item nav-link">Salary tools</a>
                <a href="#" class="nav-item nav-link">Career advice</a>
                <a href="#" class="nav-item nav-link">upload resume</a>
                <div class="login-side">
                <a href="#" class="nav-item nav-link login-btn"><i class="fa fa-unlock" aria-hidden="true"></i>login</a>
                <a href="#" class="nav-item nav-link reg-btn">register now</a>
                </div>
            </div>
            
        </div>
    </nav>  

       </div>
      </div>
      <!-- END: Bottom Row -->  

    </header>
    <!-- Header End -->


    <section class="inner-banner">
      <img src="images/bnr-bg.jpg">

      <div class="inner-cap">
        <h4>job <span>detail</span> </h4>
      </div>
    </section>
    <!-- Header End -->
   <!-- <section class="basic-sec">
     <div class="container">
       <div class="row">
        <div class="col-md-12">
          <div class="basic-tab">
            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'London')">01</button>
                <button class="tablinks" onclick="openCity(event, 'Paris')">02</button>
                <button class="tablinks" onclick="openCity(event, 'Tokyo')">03</button>
              </div>




            <div id="London" class="tabcontent" style="display: block;">
              <h3>London</h3>
              <p>London is the capital city of England.</p>
            </div>

            <div id="Paris" class="tabcontent" style="display: none;">
              <h3>Paris</h3>
              <p>Paris is the capital of France.</p>
            </div>

            <div id="Tokyo" class="tabcontent" style="display: none;">
              <h3>Tokyo</h3>
              <p>Tokyo is the capital of Japan.</p>
            </div>
          </div>
        </div>
       </div>
     </div>
   </section> -->




   <section class="industry-sec">
     <div class="container">
      <div class="industry-basic">
        <div class="row">
          <div class="col-md-12">
            <div class="industry-title">
              <h4>job <span>details</span></h4>
            </div>
            <div class="industry-small">
              <h4>Employment Type <span>*</span></h4>
            </div>
            <div class="industry-btn">
              <div class="row">
                <div class="col-md-6">
                  <a href="">Full Time</a>
                </div>
                <div class="col-md-6">
                  <a href="">Part Time</a>
                </div>
                <div class="col-md-6">
                  <a href="">Contractor</a>
                </div>
                <div class="col-md-6">
                  <a href="">Temporary</a>
                </div>
                <div class="col-md-6">
                  <a href="">Intern</a>
                </div>
                <div class="col-md-6">
                  <a href="">Volunteer</a>
                </div>
                <div class="col-md-6">
                  <a href="">Per diem</a>
                </div>
              </div>
            </div>
            <div class="industry-hiring">
              <i class="fa fa-rocket" aria-hidden="true"></i>
              <div class="hiring-para">
                <h4>HIRING BOOST</h4>
                <p>Listing a salary increases applications by 20%</p>
              </div>
            </div>
            <div class="industry-small">
              <h4>What does this job pay?</h4>
            </div>
            <div class="hiring-form">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="$30000" placeholder="$30000">
                </div>
                <div class="col-md-6">
                  <input type="text" name="$30000" placeholder="$30000">
                </div>
                <div class="col-md-6">
                  <select>
                    <option>$[USD]</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select>
                    <option>Per Year</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="hiring-exact">
              <h4>Exact Rate</h4>
            </div>
            <div class="hiring-accord">
              <div class="hiring-pneal">
                <button class="accordion active">Additional Compensation</button>
                <div class="panel" style="max-height: 135px;">
                  <h4>Select all that apply</h4>
                  <div class="hiring-frm">
                    <div>
                      <input type="radio" name="Bonus">
                    <label>Bonus</label>
                    </div>
                    <div>
                      <input type="radio" name="Commission">
                    <label>Commission</label>
                    </div>
                    <div>
                      <input type="radio" name="Tip">
                    <label>Tip</label>
                    </div>
                  </div>
                </div>
              </div>

                <div class="hiring-pneal">
                <button class="accordion">Additional Compensation</button>
                <div class="panel">
                  <h4>Select all that apply</h4>
                  <div class="hiring-frm">
                    <div>
                      <input type="radio" name="Bonus">
                    <label>Bonus</label>
                    </div>
                    <div>
                      <input type="radio" name="Commission">
                    <label>Commission</label>
                    </div>
                    <div>
                      <input type="radio" name="Tip">
                    <label>Tip</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="industry-button">
              <a href="" class="cancel-industry">cancel</a>
              <a href="" class="continue-industry">continue</a>
            </div>
          </div>
        </div>
      </div>
     </div>
   </section>


   <footer>
   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
        <div class="col-md-12">
        <div class="ftr-logo">
          <img src="images/logo.png">
        </div>
        <div class="ftr-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ultricies metus, non iaculis metus donec sed quam.</p>
        </div>
        <div class="social-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-google-plus" aria-hidden="true"></i>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  
      <div class="col-md-2">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Press</a></li>
          <li><a href="">Partners Relations</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Job Referrals</a></li>
        </ul>
      </div>
    </div>
  </div>
      <div class="col-md-2">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>other links</h4>
        <ul>
          <li><a href="">Jobs</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>
      <div class="col-md-4">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>Subscribe newsletter</h4>
         <div class="sletter-main">
        <div class="subscribe-info">
          <p>Sign up today to get resources on how to attract and retain more customers!</p>
        </div>
        <div class="user-form">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="text" placeholder="Email Address">
          <div class="plain">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
   </div>
   <div class="footer-inner">
    <div class="container">
      <div class="row">
      <div class="col-md-6">
        <div class="ftrinr-info">
          <p>Copyright © 2021 .<span>The Education Team .</span> All Right Reserved.</p>
        </div>
      </div>
      <div class="col-md-6">
        <ul>
          <li><a href="">Terms and Conditions </a></li>
          <li><a href="">|</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
   </div>
 </footer>


    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>

