<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/fancybox.min.css">

    <title>Education Team</title>
  </head>


  <body>


       <!-- Header Start -->
     <!-- Header Start -->
   <header>




      <!-- Begin: Bottom Row -->
      <div class="bottom-row">
        <div class="container">

         <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand"><img src="images/logo.jpg" alt=""></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Find Jobs</a>
                <a href="#" class="nav-item nav-link">Salary tools</a>
                <a href="#" class="nav-item nav-link">Career advice</a>
                <a href="#" class="nav-item nav-link">upload resume</a>
                <div class="login-side">
                <a href="#" class="nav-item nav-link login-btn"><i class="fa fa-unlock" aria-hidden="true"></i>login</a>
                <a href="#" class="nav-item nav-link reg-btn">register now</a>
                </div>
            </div>
            
        </div>
    </nav>  

       </div>
      </div>
      <!-- END: Bottom Row -->  

    </header>
    <!-- Header End -->


    <section class="inner-banner">
      <img src="images/bnr-bg.jpg">

      <div class="inner-cap">
        <h4>news <span>detail</span> </h4>
      </div>
    </section>

  <section class="article-sec">
    <div class="container">

      <div class="row">

        <div class="col-md-8"> 
          
          <div class="article-txt">

            <div class="article-blk">

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud laboris ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in velit esse dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>

              <h2>omnis iste natus error doloremque</h2>

              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate.</p>

              <img src="images/post-img.jpg" alt="">

              <h2>Sed ut perspiciatis unde omnis iste natus error sit doloremque</h2>

              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>

              <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. At vero eos et et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

            </div>
            
          </div>

        </div>


        <div class="col-md-4"> 
          
          <div class="search-section">

            <div class="posts-headings">
              <h2>Search Blog</h2>
            </div>
            <form class="post-form">
              <input type="text" name="search" placeholder="Search Keyword...">
              <button><img src="images/search-icon.png" alt=""></button>
            </form>
          </div>
          


          <div class="popular-posts">
            <div class="blk-area">
              
          
            <div class="posts-headings">
              <h3>Popular Posts</h3>
            </div>

            <div class="blog-blk">
              <div class="blog-imgs">
                <img src="images/blog-img1.jpg" alt="">
              </div>
              <div class="blog-txt">
                <h3>Lorem ipsum dolor sit aet, adipiscing elit sed do...</h3>
                <h4>16 Mar, 2021</h4>
              </div>
            </div>


            <div class="blog-blk">
              <div class="blog-imgs">
                <img src="images/blog-img2.jpg" alt="">
              </div>
              <div class="blog-txt">
                <h3>Lorem ipsum dolor sit aet, adipiscing elit sed do...</h3>
                <h4>16 Mar, 2021</h4>
              </div>
            </div>


            <div class="blog-blk">
              <div class="blog-imgs">
                <img src="images/blog-img3.jpg" alt="">
              </div>
              <div class="blog-txt">
                <h3>Lorem ipsum dolor sit aet, adipiscing elit sed do...</h3>
                <h4>16 Mar, 2021</h4>
              </div>
            </div>

            <div class="blog-blk">
              <div class="blog-imgs">
                 <img src="images/blog-img4.jpg" alt="">
              </div>
              <div class="blog-txt">
                <h3>Lorem ipsum dolor sit aet, adipiscing elit sed do...</h3>
                <h4>16 Mar, 2021</h4>
              </div>
            </div>

            <div class="blog-blk">
              <div class="blog-imgs">
                 <img src="images/blog-img5.jpg" alt="">
              </div>
              <div class="blog-txt">
                <h3>Lorem ipsum dolor sit aet, adipiscing elit sed do...</h3>
                <h4>16 Mar, 2021</h4>
              </div>
            </div>


            <div class="blog-blk">
              <div class="blog-imgs">
                <img src="images/blog-img6.jpg" alt="">
              </div>
              <div class="blog-txt">
                <h3>Lorem ipsum dolor sit aet, adipiscing elit sed do...</h3>
                <h4>16 Mar, 2021</h4>
              </div>
            </div>


            <div class="blog-blk">
              <div class="blog-imgs">
                 <img src="images/blog-img7.jpg" alt="">
              </div>
              <div class="blog-txt">
                <h3>Lorem ipsum dolor sit aet, adipiscing elit sed do...</h3>
                <h4>16 Mar, 2021</h4>
              </div>
            </div>
          </div>

          </div>

          <div class="social-connect">
            <div class="posts-headings">
              <h3>Social Connect</h3>
              <img src="images/social.jpg" alt="">
            </div>
          </div>


        </div>

      </div>

    </div>
  </section>

<section class="related-news">
  <div class="container">
    <div class="career-heading">
        <h2>Related <span>News</span></h2>
      </div>

    <div class="row">

      <div class="col-md-4">
        <div class="post-sec">
          <div class="post-img">
            <img src="images/career-advice-img1.jpg" alt="">
          </div>
          <div class="post-title">
            <p>Post by Jonathan doe  |  28 Sep, 2021</p>
            <h3>Lorem ipsum dolor sit amet consectetur elit...</h3>
            <a href="#" class="post-btn">Lorem ipsum</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="post-sec">
          <div class="post-img">
            <img src="images/career-advice-img2.jpg" alt="">
          </div>
          <div class="post-title">
            <p>Post by Jonathan doe  |  28 Sep, 2021</p>
            <h3>Lorem ipsum dolor sit amet consectetur elit...</h3>
            <a href="#" class="post-btn">Lorem ipsum</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="post-sec">
          <div class="post-img">
            <img src="images/career-advice-img3.jpg" alt="">
          </div>
          <div class="post-title">
            <p>Post by Jonathan doe  |  28 Sep, 2021</p>
            <h3>Lorem ipsum dolor sit amet consectetur elit...</h3>
            <a href="#" class="post-btn">Lorem ipsum</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<footer>
   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
        <div class="col-md-12">
        <div class="ftr-logo">
          <img src="images/logo.png">
        </div>
        <div class="ftr-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ultricies metus, non iaculis metus donec sed quam.</p>
        </div>
        <div class="social-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-google-plus" aria-hidden="true"></i>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  
      <div class="col-md-2">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Press</a></li>
          <li><a href="">Partners Relations</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Job Referrals</a></li>
        </ul>
      </div>
    </div>
  </div>
      <div class="col-md-2">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>other links</h4>
        <ul>
          <li><a href="">Jobs</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>
      <div class="col-md-4">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>Subscribe newsletter</h4>
         <div class="sletter-main">
        <div class="subscribe-info">
          <p>Sign up today to get resources on how to attract and retain more customers!</p>
        </div>
        <div class="user-form">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="text" placeholder="Email Address">
          <div class="plain">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
   </div>
   <div class="footer-inner">
    <div class="container">
      <div class="row">
      <div class="col-md-6">
        <div class="ftrinr-info">
          <p>Copyright © 2021 .<span>The Education Team .</span> All Right Reserved.</p>
        </div>
      </div>
      <div class="col-md-6">
        <ul>
          <li><a href="">Terms and Conditions </a></li>
          <li><a href="">|</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
   </div>
 </footer>

   

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>

      