<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/fancybox.min.css">

    <title>Education Team</title>
  </head>

  <body>
        <!-- Header Start -->
     <!-- Header Start -->
   <header>




      <!-- Begin: Bottom Row -->
      <div class="bottom-row">
        <div class="container">

         <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand"><img src="images/logo.jpg" alt=""></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Find Jobs</a>
                <a href="#" class="nav-item nav-link">Salary tools</a>
                <a href="#" class="nav-item nav-link">Career advice</a>
                <a href="#" class="nav-item nav-link">upload resume</a>
                <div class="login-side">
                <a href="#" class="nav-item nav-link login-btn"><i class="fa fa-unlock" aria-hidden="true"></i>login</a>
                <a href="#" class="nav-item nav-link reg-btn">register now</a>
                </div>
            </div>
            
        </div>
    </nav>  

       </div>
      </div>
      <!-- END: Bottom Row -->  

    </header>
    <!-- Header End -->


    <section class="inner-banner">
      <img src="images/bnr-bg.jpg">

      <div class="inner-cap">
        <h4>upload <span>resume</span> </h4>
      </div>
    </section>
     

    <!-- Slider Start --> 

<section class="upload-resume">
  <div class="container">
    <div class="user-login">
      <div class="user-maininfo">
      <h4>Do you have <span> resume?</span></h4>
     
    </div>
      <form>
    <div class="row">
      <div class="col-md-12">
        <div class="cntnue-mail">
        <button>I dont have a resume</button>
      </div>
    </div>
    <div class="option">
      <h5>OR</h5>
    </div>
    <div class="col-md-12">
      <div class="drop-zone">
    <span class="drop-zone__prompt">Drag and drop files here or...</span>
    <input type="file" name="myFile" class="drop-zone__input">
    <div class="file-image">
      <img src="images/file.png">
    </div>
  </div>
    </div>
    <div class="col-md-12">
        <div class="upload-device">
          <button><i class="fa fa-upload" aria-hidden="true"></i>Upload from device</button>
      </div>
    </div>
    <div class="col-md-12">
        <div class="google">
          <div class="google-img">
          <img src="images/google.png">
        </div>
        <button>upload from google drive</button>
      </div>
    </div>
    <div class="col-md-12">
        <div class="dropbox">
        <button><i class="fa fa-dropbox" aria-hidden="true"></i></i>upload from drop box</button>
      </div>
    </div>
    <div class="col-md-12">
        <div class="microsoft-drive">
        <button><i class="fa fa-cloud" aria-hidden="true"></i></i>upload from microsoft one drive</button>
      </div>
      <div class="supppot-file">
        <p>Supported file types are .pdf, .doc, .docx, .rtf, .txt (Max size: 5 MB)</p>
      </div>
    </div>
    </div>
  </form>
    </div>
  </div>
</section>
<footer>
   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
        <div class="col-md-12">
        <div class="ftr-logo">
          <img src="images/logo.png">
        </div>
        <div class="ftr-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ultricies metus, non iaculis metus donec sed quam.</p>
        </div>
        <div class="social-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-google-plus" aria-hidden="true"></i>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  
      <div class="col-md-2">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Press</a></li>
          <li><a href="">Partners Relations</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Job Referrals</a></li>
        </ul>
      </div>
    </div>
  </div>
      <div class="col-md-2">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>other links</h4>
        <ul>
          <li><a href="">Jobs</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>
      <div class="col-md-4">
        <div class="row rw-h">
        <div class="col-md-12">
        <h4>Subscribe newsletter</h4>
         <div class="sletter-main">
        <div class="subscribe-info">
          <p>Sign up today to get resources on how to attract and retain more customers!</p>
        </div>
        <div class="user-form">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="text" placeholder="Email Address">
          <div class="plain">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
   </div>
   <div class="footer-inner">
    <div class="container">
      <div class="row">
      <div class="col-md-6">
        <div class="ftrinr-info">
          <p>Copyright © 2021 .<span>The Education Team .</span> All Right Reserved.</p>
        </div>
      </div>
      <div class="col-md-6">
        <ul>
          <li><a href="">Terms and Conditions </a></li>
          <li><a href="">|</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
   </div>
 </footer>




   

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>

